.quote-and-author {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  
  #text {
    font-size: 3rem;
    margin: 0 15% 3%;
    // font-family: 'Festive', cursive;
    font-family: 'Lato', sans-serif;
  }
  
  #author {
    font-size: 2rem;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}
