#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75vw;
  height: 60vh;
  background-color:cornsilk;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttons {
  display: flex;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  align-items: flex-end;
  justify-content: space-around;

  #new-quote {
    height: 3rem;
    width: 20%;
    // position: absolute;
    // bottom: 1.5rem;
    // right: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #5f9ea0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
  
    &:hover {
      background-color: #558d8f;
      color: white;
      font-size: 1.2rem;
    }
  }
}
